gitignore
layout.pyw
episode choose remake/img
episode choose remake/local_data.py
episode choose remake/__pycache__
episode choose remake/data.json
episode choose remake/tests.py
*.xlsm
*.xlsx

*.json
*.txt

__pycache__