body{
    background-color: #111;
    display: flex;
    justify-content: center;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    width: 250px;
}
summary{
    cursor: pointer;
}
details details{
    margin-left: 10px;
}
details details div{
    margin-left: 25px;
}
details details div div{
    margin-left: 0;
    margin-right: 10px;
}
.nav-dates{
    display: flex;
}
.nav-date{
    width: 50px;
    display: flex;
    justify-content: end;
}

.year{
    background-color: #222;
}
h2,h3{
    margin: 0;
    margin: 10px;
    padding: 0;
}
h3{
    margin-bottom: 0;
}
.dates{
    display: flex;
}
.date{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
}

.weeks{
    display: flex;
    flex-direction: column;
}
.week{
    display: flex;
}
.day{
    display: flex;
    width: 200px;
    min-height: 40px;
    justify-content: center;
    border: solid 1px white;
    background-color: #333;
    padding-top: 10px;
}
.prev{
    color: #999;
}