body{
    background-color: #111;
    margin: 0 120px;
}
img{
    display: block;
}
li{
    list-style-type: disc;
}
a{
    color: inherit;
}

.header{
    border-bottom: 2px solid #333;
}
h1{
    margin: 0;
    color: #0B79D0;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    background-color: #222;
}

.content{
    display: flex;
    height: 805px;
    background-color: #222;
}

.now_playing{
    width: 65%;
    border-right: 1px solid #333;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.game_imgs{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.game_img>img{
    width: 380px;
}
.now_playing{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.game_names{
    display: flex;
    justify-content: space-evenly;
}
.game_name{
    width: 380px;
}

.game_a{
    color: var(--a_game_color);
}
.game_b{
    color: var(--b_game_color);
}

.game_a>img{
    border-top: 5px solid var(--a_game_color);
    border-bottom: 5px solid var(--a_game_color);
}
.game_b>img{
    border-top: 5px solid var(--b_game_color);
    border-bottom: 5px solid var(--b_game_color);
}
.game_name{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.game_list{
    width: 35%;
    border-left: 1px solid #333;
    padding-right: 18px;
    color: #eee;
    overflow-y: scroll;
}
.game_list::-webkit-scrollbar{
    background-color: #222;
    width: 10px;
}
.game_list::-webkit-scrollbar-button{
    display: none;
}
.game_list::-webkit-scrollbar-thumb{
    background-color: #444;
}

details{
    margin: 0 -18px;
}
summary{
    cursor: pointer;
}

.complete{
    color: #11C46F;
}
.complete::after{
    content: url('../img/complete.png');
    margin-left: 5px;
}

.inProcess{
    color: #0B79D0;
    font-weight: 800;
}
.inProcess::after{
    content: url('../img/wantToPlay.png');
    margin-left: 5px;
}

.bad{
    color: #EE204D;
    text-decoration: line-through;
}

.wait{
    color: rgb(235, 235, 99);
}

/* .action{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button{
    display: flex;
    align-items: center;
    text-align: center;

}
#channel{
    border-radius: 50%;
    width: 70%;
    margin-bottom: 10px;
    text-align: center;
}
.button>a>img{
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
} */



.action{
    width: 120px;
    position: absolute;
    left: 0;
    top: 17px;
    margin-left: 28px;
}
.button>a>img{
    width: 50%;
    margin-bottom: 10px;
}
#channel{
    border-radius: 50%;
    width: 70%;
    margin-left: -12px;
}