.game__showcase {
  padding: 20px 0;
  min-width: 300px;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  position: relative;
}

.edit_container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  & button {
    background-color: #222;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1em;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    & svg {
      fill: white;
    }
    &:hover {
      box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
      background-color: #333;
      transition: 0.3s;
    }
  }
  & .edit {
    width: 65px;
    padding: 10px;
  }
}

.game__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}

.coverart {
  width: 100%;
}

.game__name {
  font-size: 35px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 400;
  margin: 10px 0;
}

.coverart_input {
  display: flex;
  width: 100%;
}
.steam_button {
  border-radius: 15px;
  background-color: #555;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  white-space: nowrap;
  &:hover {
    background-color: #00adee;
  }
}

.h2Input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.colorContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
.colorInput {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  cursor: pointer;
}
.colorSwitcher {
  display: flex;
}
.colorButton {
  width: 20px;
  height: 20px;
}
