.modalButtonContainer {
  position: relative;
}

.modalButtons {
  display: flex;
  & button {
    flex: 1;
  }
}

.modal {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
}
